version: "3.9"

services:
  postgres:
    image: postgres:16.11-alpine
    container_name: app-postgres
    restart: always
    environment:
      POSTGRES_USER: walon
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tododb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: